<ion-content [fullscreen]="true">
  <ion-header>
    <ion-row class="menu">
      <ion-col class="conteudo_menu" size-lg="12" size-md="12" size-sm="12">
        <img src="../../assets/icon/fitness.png" alt="logo">

        <div class="menu_link">
          <a routerLink="/home">HOME</a>
          <a routerLink="/loja">LOJA</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-header>

  <!-- corpo -->
  <ion-row class="container">
    <ion-col class="text"  size="12" size-md="12" size-lg="6">

      <div class="conteudo_text">
        <H2>Bem vindo a Gym's Academy</H2>
        <H4>Venha conhecer uma de nossas unidades e melhor sua qualidade de vida conosco.</H4>
      </div>

    </ion-col>

    <ion-col class="imagem" size="12" size-md="12" size-lg="6">
      <img src="../../assets/icon/logo_gym.png" alt="Imagem de logo">
    </ion-col>


  </ion-row>

</ion-content>