<ion-content [fullscreen]="true">
  <ion-header>
    <ion-row>
      <ion-col class="conteudo_menu">
        <img src="" alt="logo">
      </ion-col>
      <ion-col class="conteudo_menu">
       <ion-button color="none" routerLink="/home">Home</ion-button>
       <ion-button color="none" routerLink="/loja">Loja</ion-button>
      </ion-col>
    </ion-row>
  </ion-header> 

  <!-- corpo -->
  <ion-row class="f" size="12">
    <ion-col size-lg="6" size-md="12" size-sm="12">

    </ion-col>

    <ion-col size-lg="6" size-md="12" size-sm="12">

    </ion-col>
  </ion-row>
  
</ion-content>
