<ion-content [fullscreen]="true">
  <ion-header>
    <ion-row class="menu">
      <ion-col class="conteudo_menu" size-lg="12" size-md="12" size-sm="12">
        <img src="../../assets/icon/fitness.png" alt="logo">

        <div class="menu_link" >
          <a routerLink="/home">Home</a>
          <a routerLink="/loja">Loja</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-header>

  <!-- corpo -->
  <ion-row class="container" size="12">
    <ion-col size-lg="6" size-md="12" size-sm="12">
      <div class="text"></div>

    </ion-col>

    <ion-col size-lg="6" size-md="12" size-sm="12">
      <div class="imagem">
        <img src="" alt="Imagem">
      </div>

    </ion-col>
  </ion-row>

</ion-content>